{%extends "main.html"%}
{% block login %}
    <div class = "large-3 columns">
        <form action = "/auth/login/" method ="post">

            <label for = "username">Логін</label>
            <input type = "text" name = "username" id = "username">
            <hr>
            <label for = "password">Пароль</label>
            <input type = "password" name = "password"  id = "password">
            {% if login_error %}
                <label class="error">{{login_error}}</label>
            {%endif%}
            <input class = "button" type = "submit" value = "Вхід">
            <div class = "label round secondary"><a href  = "/auth/register">Регістрація</a></div>
        </form>
         </div>
        {%endblock%}

